@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@500&display=swap');

/* Remove any default margin, padding and border */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*transition: all 0.3s;*/
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #070707;
    color: #C84B31; 
    font-weight: 500;
}

.flex-containers {
    display: flex;
    flex-flow: row wrap;
}

.flex-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* Logo and Headers */
h1 {
    font-family: 'Press Start 2P', cursive, sans-serif;
    color: #C84B31; 
}

.logo-qff { 
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    flex: 33%;
    margin-left: 40px;
    padding: 15px;
}

.navbar-container {
    font-size: 120%;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    padding: 15px;
}

.nav-anchor {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    margin: 5px;
    padding: 5px;
    color: #C84B31;
    border: 2px solid #C84B31;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-anchor:hover {
    background-color: #ECDBBA;
    color: #070707;
    border-color: #ECDBBA;
}

.nav-anchor:active {
    background-color: #ECDBBA;
    color: #070707;
    border-color: #ECDBBA;
}

.game-img {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: url('../images/background-homepage.jpg') no-repeat center center/cover;
}

.start-area {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
}

/* This is used for both Start and Instructions */
.game-area, .content-popup, .pre-quiz, .quiz, .end-game {
    background-color: #C84B31;
    color: #070707;
    display: flex;
    flex-flow: row wrap;
    width: 30vw;
    min-width: 360px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 7px 7px #ECDBBA;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.flex-inline {
    display: inline-flex;
}

.decorations {
    text-decoration: none;
    list-style: none;
} 

.btn-start {
    font-family: 'Press Start 2P', cursive, sans-serif;
    background-color: #ECDBBA;
    color: #070707;
    font-size: 1.5rem;
    width: 155px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #070707;
}

.btn-start:hover {
    color:#C84B31;
    background-color: #070707;
}

/* Modal Experiment */
.popup-instruction {
    display: none;
    position: fixed;
    margin: 0 auto;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.8);
}

  /* The Close Button */
.close {
    font-size: 28px;
    text-decoration: none;
    list-style: none;
    color: #070707;
    border: 2px solid #070707;
    border-radius: 50%;
    padding: 3px 10px;
}

.close:hover,
.close:focus {
    color: #ECDBBA;
    background-color: #070707;
    cursor: pointer;
}

/* Footer Section */
footer {
    height: 120px;
}

.social-network li {
    display: inline;
    margin-left: 30px;  
}

.social-network li i {
    font-size: 60px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 40px;
    color: #C84B31;
}

.social-network li i:hover {
    color: #ECDBBA;
}
/* End Footer Section */

/* Pre-Quiz Area */
.pre-quiz-content {
    padding: 15px;
    margin: 15px;
}

.pre-quiz-content div label {
    font-size: 120%;
}

.pre-quiz-content .radio-label-difficulty {
    margin-left: 20px;
}

.fit-content {
    height: fit-content;
}

.input-forms {
    display: block;
    margin-top: 2px;
    margin-bottom: 15px; 
    font-size: 1.1rem;
    background-color: #ECDBBA;
    color: #070707;
    width: 100%;
    height: 30px;
    padding: 18px 5px;
    border: 2px solid #ECDBBA;
    border-radius: 10px;
}

.text-labels {
    font-size: 1rem;
    margin-top: 5px;    
}

.input-forms:hover {
    border-color: #070707;  
}

.input-forms:focus {
    outline: 1px solid #070707;
    border: 1px solid #070707;
}

.pre-quiz h2 {
    font-size: 1.8rem;
    margin-top: 20px;
}

.btn-games {
    font-family: 'Press Start 2P', cursive, sans-serif;
    background-color: #ECDBBA;
    color: #070707;
    font-size: 1.5rem;
    width: 255px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #070707;
}

.btn-games:hover {
    color:#C84B31;
    background-color: #070707;
}

/*Disable the button - W3School References*/
.btn-games[disabled]:hover {
    cursor: not-allowed;
}

/* Questions Area */
.answer-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    background-color: #070707;
    border-radius: 15px;
    color: #ECDBBA;
    cursor: pointer;
}

.answer-index {
    padding: 10px;
}

.info-quiz {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 10px;
}

.progress-bar {
    border: 2px solid #070707;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}

.btn-answers {
    background-color: #C84B31;
    color: #070707;
    font-size: 1.5rem;
    width: 230px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.questions-text-view {
    font-size: 1.8rem;
    margin-top: 40px;
}

.btn-answers:hover {
    background-color: #ECDBBA;
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

/* Instruction */
.popup-instruction .content-popup, .quiz {
    height: fit-content;
    padding: 30px 10px;
}


/* ---------Score Page--------- */
.final-text, .final-score {
    color: #070707;
    font-size: 2rem;
}

/* ---------Contact Us--------- */
.form-users {
    margin: 40px auto;
}

.flex-cu {
    background-color: #C84B31;
    color: #070707;
    display: flex;
    flex-flow: column wrap;
    width: 30vw;
    min-width: 350px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 7px 7px #ECDBBA;
    padding: 30px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    background-color: #ECDBBA;
    border: 2px solid #ECDBBA;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    overflow: auto; /* This is to avoid scroll bar generated by IE */
}

textarea:focus {
    outline: 2px solid #070707;
    border-radius: 10px;
}

textarea:hover {
    border-color: #070707;
}

.btn-container {
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
}

.btn-forms {
    font-family: 'Press Start 2P', cursive, sans-serif;
    background-color: #ECDBBA;
    color: #070707;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #070707;
    width: 150px;
}


/* Error Page */
.te-content {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    min-width: 350px;
    height: fit-content;
    min-height: 300px;
    font-size: 1.3rem;
    padding: 35px;
    margin: 35px;
    background-color: #C84B31;
    color: #070707;
    border-radius: 10px;
    box-shadow: 7px 7px #ECDBBA;
}

.te-content .anchor-text {
    text-decoration: none;
    cursor: pointer;
    margin: 40px auto;
}

@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-flow: column wrap;
    }
    
    .logo-qff { 
        font-size: 80%;
        flex: 100%;
        margin-left: 0px;
        text-align: center;
    }
    
    .navbar-container {
        font-size: 80%;
        margin-right: 0px;
    }
    
    .nav-anchor {
        width: 111px;
        margin: 5px;
    }

    .btn-start {
        width: 150px;
    }
}