@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@500&display=swap');

/* Remove any default margin, padding and border */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #070707;
    color: #C84B31; 
    font-weight: 500;
}

.flex-containers {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.flex-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-containers-columns {
    display: flex;
    flex-flow: column nowrap;
}

.text-medium {
    font-size: 1.5rem;
}

.text-small {
    font-size: 1.25rem;
}

.text-capitalize {
    text-transform: capitalize;
}

.space-margin-top {
    margin-top: 20px;
}

.space-margin-bottom {
    margin-bottom: 20px;
}

/* Headers - Logo & Navbar */  
h1 {
    font-family: 'Press Start 2P', cursive, sans-serif;
    color: #C84B31; 
}

.logo-qff { 
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    flex: 33%;
    margin-left: 40px;
    padding: 15px;
}

.navbar-container {
    font-size: 120%;
    display: flex;
    margin-right: 40px;
    padding: 15px;
}

.nav-anchor {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    width: 150px;
    margin: 5px;
    padding: 5px;
    color: #C84B31;
    border: 2px solid #C84B31;
    box-shadow: 2px 5px 3px #C84B31;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-anchor:hover {
    color: #ECDBBA;
    border-color: #ECDBBA;
    box-shadow: 2px 5px 3px #ECDBBA;
}

.active {
    color: #ECDBBA;
    border-color: #ECDBBA;
    box-shadow: 2px 5px 3px #ECDBBA;
}

.game-img {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: url('../images/background-homepage.jpg') no-repeat center center/cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* This is used for all the areas and Instructions */
.game-area, 
.content-popup,
.pre-quiz,
.quiz,
.end-game {
    background-color: #C84B31;
    color: #070707;
    display: flex;
    flex-flow: row wrap;
    width: 35vw;
    min-width: 350px;
    max-width: 520px;
    min-height: 400px;
    border-radius: 10px;
    box-shadow: 7px 7px 3px #ECDBBA;
    position: relative;
    padding: 10px;
}

.hide {
    display: none;
}

.text-center {
    text-align: center !important; 
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.flex-inline {
    display: inline-flex;
}

.decorations-none { /* Change Class name in decoration-none*/
    text-decoration: none !important;
    list-style: none !important;
} 

.btn {
    font-family: 'Press Start 2P', cursive, sans-serif;
    background-color: #ECDBBA;
    color: #070707;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 3px #070707;
    cursor: pointer;
}

.btn-start {
    width: 155px;
    margin: 10px;
}

.btn-start:hover, 
.btn-games:hover, 
.btn-forms:hover {
    color:#ECDBBA;
    background-color: #070707;
    box-shadow: 5px 10px 3px #ECDBBA;
}

/* Modal Instructions */
.popup-instruction {
    display: none;
    position: fixed;
    margin: 0 auto;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.8);
}

/* The Close Button */
.close {
    text-decoration: none;
    list-style: none;
    color: #070707;
    border: 2px solid #070707;
    border-radius: 50%;
    padding: 3px 8px;
    position: absolute;
    top: 25px;
    right: 15px;
}

.close:hover,
.close:focus {
    color: #ECDBBA;
    background-color: #070707;
    cursor: pointer;
}

/* Footer Section */
footer {
    height: 100px;
}

.social-network li {
    display: inline;
    margin-left: 20px;  
}

.social-network li i {
    font-size: 50px;
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
    color: #C84B31;
    border-radius: 5px;
}

.social-network li i:hover {
    color: #ECDBBA;
}
/* End Footer Section */

/* Pre-Quiz Area */
.fit-content {
    height: fit-content;
}

.input-forms {
    display: block;
    margin-top: 5px;
    margin-bottom: 12px; 
    background-color: #ECDBBA;
    color: #070707;
    border: 2px solid #ECDBBA;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    padding: 18px 5px;
}

.text-labels {
    margin-top: 10px;
    margin-bottom: 30px;    
}

.input-forms:hover {
    border-color: #070707;  
}

.input-forms:focus {
    outline: 1px solid #070707;
    border: 1px solid #070707;
}

.pre-quiz h2 {
    font-size: 1.5rem;
    margin: 25px 0px 5px 0px;
}

.radio-btn-difficulty
 {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 12px;
}

.radio-label-difficulty
 {
    margin-right: 12px;
}

.btn-games {
    width: 225px;
}

.username-info {
    font-size: 0.9rem;
}

/* Disable the button - W3School References */
.btn-games-disabled {
    cursor: not-allowed;
}
/* End Pre-Quiz Area*/

/* Questions Area */
.answer-container {
    display: flex;
    margin: 10px;
    padding: 7.5px;
    width: fit-content;
    height: fit-content;
    background-color: #070707;
    border-radius: 15px;
    color: #ECDBBA;
    box-shadow: 5px 5px 3px #070707;
}

.answer-index {
    padding: 10px;
}

.info-quiz {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.progress-bar {
    border: 2px solid #ECDBBA;
    border-radius: 10px;
    padding: 5px;
    width: 95px;
    color: #ECDBBA;
    background-color: #070707;
    box-shadow: 2px 5px 3px #ECDBBA;
}

.qa-view-container {
    display: flex;
    flex-flow: column nowrap;
}

.btn-answers {
    display: flex;
    color: #070707;
    background-color: #ECDBBA;
    width: 260px;
    height: 50px;
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.questions-text-view {
    width: 95%;
    max-width: 450px;
    margin-top: 25px;
    border: 3px solid #070707;
    border-radius: 10px;
    background-color: #ECDBBA;
    box-shadow: 5px 5px 3px #070707;
    padding: 5px;
}

.btn-answers:hover {
    background-color: #C84B31;
}

.progress-bar-full {
    width: 0%;
    height: 100%;
    background: #ECDBBA;
}

.correct-answer {
    background-color: #357C3C;
}

.wrong-answer {
    background-color: #E40017;
}
/* End Questions Area */

/* Instruction */
.content-popup {
    flex-flow: column nowrap;
    height: fit-content;
    padding: 25px 15px;
    position: fixed;
    top: 50px; 
}

.content-popup li {
    margin: 5px 20px 5px 50px;
}

/* ---------Score Page--------- */
.final-text, .final-score {
    color: #070707;
    font-size: 1.5rem;
    margin: 15px 5px;
}

.table-container {
    width: 95%;
    border: 3px solid #070707;
    box-shadow: 5px 10px 3px #070707;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    background-color: #ECDBBA;
}

.table-container th {
    padding: 5px;
    background-color: #C84B31;
    border-radius: 7px;
    box-shadow: 4px 5px 3px #070707;
}

.table-container td {
    padding-top: 8px;
}

.loading {
    padding-top: 50px;
    /*margin: 50px auto;*/
}

.leader, .loading {
    font-family: 'Press Start 2P', cursive, sans-serif;

}

/* ---------Contact Us--------- */
.form-users, .textarea-area {
    margin: 25px 10px;
}

.flex-cu {
    background-color: #C84B31;
    color: #070707;
    display: flex;
    flex-flow: column wrap;
    width: 35vw;
    min-width: 360px;
    max-width: 520px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 7px 7px 3px #ECDBBA;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #ECDBBA;
    border: 2px solid #ECDBBA;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    overflow: auto; /* This is to avoid scroll bar generated by IE */
}

textarea:focus {
    outline: 2px solid #070707;
    border-radius: 10px;
}

textarea:hover {
    border-color: #070707;
}

.btn-container {
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
}

.btn-forms {
    width: 155px;
}

.radio-label-nfrb {
    margin-right: 6px;
}

.radio-btn-nfrb {
    width: 1rem;
    height: 1rem;
    margin-left: 6px;
}

/* Error 404 & Thanks you Pages */
.te-content {
    display: flex;
    flex-flow: column nowrap;
    width: 45vw;
    max-width: 520px;
    min-width: 300px;
    height: fit-content;
    padding: 35px;
    background-color: #C84B31;
    color: #070707;
    border-radius: 10px;
    box-shadow: 7px 7px 3px #ECDBBA;
}

.te-content .anchor-text {
    text-decoration: none;
    cursor: pointer;
    margin: 30px auto;
}

/* ---------- Media Query ---------- */
@media screen and (max-width: 1420px) {
    .btn {
        margin: 12px;
    }
}


@media screen and (max-width: 1220px) {
    .logo-qff { 
        font-size: 100%;
        margin-left: 0px;
    }

    /*.position-absolute {
        position: static;
    }*/

    .icon-mobile {
        font-size: 2.5rem;
        display: flex;
        margin-right: 0px;
        margin-bottom: 3px;
        padding: 15px;
        z-index: 99;
        transform: rotate(0deg);
    }

    .icon-mobile-rotate {
        transform: rotate(90deg);
    }

    .icon-mobile-transition {
        -webkit-transition: transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
    }

    .hide-mobile {
        display: none;
    }

    .navbar-container {
        font-size: 100%;
        margin-right: 0px;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: #070707;
        width: 100%;
        justify-content: center;
        height: 75px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}


@media screen and (max-width: 768px) {

    .logo-qff { 
        font-size: 100%;
        margin-left: 0px;
    }
    
    .navbar-container {
        font-size: 100%;
        margin-right: 0px;
    }

    .radio-label-nfrb {
        margin-right: 0px;
    }

    .radio-btn-nfrb {
        width: 0.9rem;
        height: 0.9rem;
        margin-left: 5px;
      }
}


@media screen and (max-width: 500px) {
    .logo-qff { 
        font-size: 0.6rem;
        margin-left: 0px;
    }
    
    .navbar-container {
        font-size: 78%;
        margin-right: 0px;
    }

    .icon-mobile {
        font-size: 1.5rem;
    }
    
    .social-network li i {
        font-size: 45px;
    }

    .questions-text-view {
        font-size: 1.25rem;
    }

    .btn-answers:hover {
        background-color: #ECDBBA;
    }

    .content-popup {
        top: 10px;
    }
}


@media screen and (max-width: 350px) {
    .logo-qff {
        font-size: 0.5rem;
    }

    .nav-anchor {
        margin: 2px;
    }

    .game-area,
    .content-popup,
    .pre-quiz,
    .quiz,
    .end-game {
        min-width: 300px;
    }

    .btn-start {
        width: 125px;
    }

    .btn-forms {
        width: 135px;
    }

    .text-medium {
        font-size: 1.25rem;
    }

    .text-small {
        font-size: 1rem;
    }

    .flex-cu {
        min-width: 300px;
        display: block;
    }

    .answer-container {
        width: 285px;
        margin: 7px;
    }

    .btn-answers {
        height: 45px;
    }

    .form-users, .textarea-area {
        margin: 20px 5px;
    }
}